@import "../mixins";
/* Product Delivery */

.product-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Default to 3 columns

  @media screen and (max-width: 1080px) {
    grid-template-columns: repeat(2, 1fr)
}

@media screen and (max-width: 740px) {
  grid-template-columns: repeat(1, 1fr)
}

@media screen and (max-width: 540px) {
  grid-template-columns: repeat(1, 1fr)
}

  .product-delivery-section {
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 15px;

    .product-delivery-img {
      width: 110px;
      height: 100px;
    }

    .product-delivery-items {
      padding: 10px;
    }
  }
}

// .product-section {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);

//   .product-delivery-section {
//     border-radius: 10px;
//     padding: 10px 20px;
//     margin: 0 15px;

//     .product-delivery-img {
//       width: 110px;
//       height: 100px;
//     }

//     .product-delivery-items {
//       padding: 10px;
//     }
//   }
// }
