.super-trendy-products-section {
  color: #eee;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 10px;
  padding: 5px;

  .super-trendy-products-items {
    background-color: #000;
    width: 250px;
    height: 350px;
  }

  .super-trendy-products-items-img {
    width: 250px;
  }
  .super-trendy-products-items-span {
    font-size: small;
    color: #777373;
  }

  .hover-opacity-100 {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .ribbon-top {
    z-index: 100;
  }
}
.super-btn {
  justify-content: center;
  text-align: center;
  left: 500px;
  margin-bottom: 10px;
  align-items: center;
}
