//colors
$prmary-color: #161616;
$secondary-color: #f2f0f1;

//text color
$primary-heading: 40px;
$secondary-heading: 40px;
$regular-text: 16px;

//$text-color: #0b2a46;

//font-family
$poppins: "Poppins, serif";

//Screen size
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;
